<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ViewController</key>
		<string>TWTUIKitFormattedEntryTextFieldSampleViewController</string>
		<key>Title</key>
		<string>Formatted TextField Entry</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>UIActionSheet and UIAlertView with Blocks</string>
		<key>ViewController</key>
		<string>TWTUIKitBlockSampleViewController</string>
	</dict>
</array>
</plist>
